@import '../../app.scss';

.btn-component {
  text-decoration: none;
  color: $brown-dark;
  background-color: $orange;
  padding: 7px 20px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.9px;

  &:hover {
    filter: opacity(0.8);
  }
}