@import '../../app.scss';

.carousel-text {
  text-align: center;
  color: $white;
  font-size: 25px;
  font-weight: 600;
  line-height: 160%; /* 40px */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 0 2rem 0 2rem;
}

.carousel-container {

  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow-x: hidden;
  position: relative;


  &::before, &::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  &::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), $brown);
  }

  &::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), $brown);
  }

  &:hover section {
    animation-play-state: paused;
  }


  section {
    display: flex;
    align-items: center;
    justify-content: start;
    animation: 35s slide infinite linear;
    background-color: $brown;
    padding: 1.5rem 0;

    img {
      width: 180px;
      margin-right: 4rem;
      -webkit-filter: invert(100%); /* Safari/Chrome */
      filter: invert(100%);
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}