@import '../../app.scss';

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  background-color: $brown;
  padding: 20px 25px;
  color: $white;
  width: 300px;
  height: 120px;
  cursor: pointer;

  position: relative;
  animation: moving 17s ease-in-out infinite alternate;

  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  p {
    font-size: 25px;
    font-weight: 400;
    line-height: 160%; /* 40px */
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

  &:hover {
    filter: opacity(0.8);
  }
}

@keyframes moving {
  0% {
    left: -30vw;
  }
  100% {
    left: 30vw;
  }
}