@import '../../app.scss';

.box-animation {
  position: relative;
  height: 200vh;
  padding-block: 4rem;

  .box-floating {
    height: 100%;

    div {
      width: 230px;
      height: 230px;
      margin: 0 auto;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      border: 4px solid #505050;
      border-radius: 10px;
      background-color: #852e0b;
      opacity: 0;
    }

    span {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      text-align: center;
      z-index: 2;

      color: $white;
      font-size: 25px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      white-space: nowrap;
      padding-inline: 10px;
      opacity: 1;
    }
  }
}